body {
    background-color: #f6f6f6;
    color: #111;
    font-family: sans-serif;
}
.note {
    cursor : pointer;
}
.note:hover {
    color : #666;
}

.info {
    color: #999;
    font-size: 0.8em;
    margin-left: 10px;
}